.floating {
	height:100px !important;
    position:absolute;  
    width:200px;height:50px;top:10px;right:10px;  
    padding:16px;background:#FFFFFF;  
    border:2px solid #2266AA;  
    z-index:100;
	}